body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

.cat-list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.cat-list > li {
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cat-list > li > img {
    width: 250px;
    height: 250px;
}

.like_btn {
    position: absolute;
    bottom: 0;
    left: 10px;
    cursor: pointer;
}