html {
  font-family: "sofia-pro", sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #12181b !important;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 95% !important;
  color: white;
  flex-direction: column;
  margin: 1rem 0;
  /* border: 1px solid white; */
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.container-header > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

h1 {
  text-align: left;
}

.divider {
  height: 20px;
  width: 100%;
  background-color: #fff;
  margin: 2rem 0;
}

.cat-list {
  gap: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.cat-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: white;
}

.cat-list > li > img {
  position: relative;
  max-height: 300px;
  height: 250px;
  width: 250px;
  min-width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.card-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in;
  position: relative;
}

.date-created-span {
  color: white;
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 8px;
  cursor: default;
}

.like-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  font-size: 12px;
  right: 0;
}

.filter {
  border: 1px solid #e7e7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  width: 120px;
  cursor: pointer;
}

.filter-options {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-utils > h5 {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  font-weight: bolder;
  width: max-content;
}

.filter-utils > span {
  cursor: pointer;
  margin-right: 1rem;
}

.filter-utils > .active {
  font-weight: bolder;
}

[data-show="false"] {
  height: 0px;
  margin-top: 0rem;
}

[data-show="true"] {
  height: 5rem;
  position: relative;
  margin-top: 2rem;
}

.load-more-btn {
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 30px;
  margin: 2rem auto;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cat-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cat-list {
    grid-template-columns: repeat(1, 1fr);
  }

  [data-show="false"] {
    height: 0px;
    margin-top: 0rem;
  }

  [data-show="true"] {
    height: 15rem;
    position: relative;
    margin-top: 2rem;
  }

  .filter-utils > h5 {
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  .filter-utils > button {
    width: 100%;
    position: relative;
    margin: 5px 0;
  }
}

@media screen and (max-width: 382px) {
  .navbar {
    gap: 0.5rem;
  }

  .container-header > div:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  #logout-btn {
    width: 100%;
  }
}
